// Grid settings
// -------------------------

@main-sm-columns:       @grid-columns;
@sidebar-sm-columns:    4;


// Brand colors
// -------------------------

@brand-primary:         #515050;
@footer-bg:				#333;
@brand-info:			#cc0066;


// Typography
// -------------------------

@font-size-base:	18px;


// Typography
// -------------------------

@btn-info-bg:			@brand-info;
@text-color:			#515050;
@link-color:			#A00051;

// Glyphicons path
// -------------------------

@icon-font-path:        "../vendor/bootstrap/fonts/";


// Sidebar
// -------------------------

@sidebar-box-height:		250px;
@sidebar-header-padding:	20px;